.notificationBox {
  border: 2px solid black;
  border-radius: 15px;
  padding: 10px;
  background-color: white;
  margin: 0 0 1.2rem 2rem;
  width: 70%;
}

.notificationHeading {
  font-size: 1.5rem;
  font-weight: bold;
}

.notificationContent {
  font-size: 1.2rem;
}
