.header {
  display: flex;
  height: 4rem;
  width: 100vw;
  justify-content: space-between;
  align-items: center;
  padding: 0 1.5rem;
  background-color: #2d2d30;
}

.logo {
  font-size: 1.6rem;
  font-weight: bold;
  background: linear-gradient(90deg, #763eae 0%, #957dad 57%, #ffffff 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-decoration: none;
  font-size: 2rem;
}

.searchInput {
  height: 2.5rem;
  width: 25rem;
  border: none;
  border-radius: 5px;
  font-size: 15px;
  font-weight: 400;
  text-indent: 15px;
  caret-color: var(--lightGray);
  color: #8a8a8a;
}

.searchInput:focus {
  outline: none;
}

.notifications {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 10.25rem;
  height: 3.75rem;
}

.icons:hover {
  cursor: pointer;
  animation: shake, 0.5s;
  animation-iteration-count: infinite;
}

.headerIcon {
  position: relative;
}

@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }
  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }
  30%,
  50%,
  70% {
    transform: translate3d(-3px, 0, 0);
  }
  40%,
  60% {
    transform: translate3d(3px, 0, 0);
  }
}

.headerIcon:hover {
  animation: shake 0.9s both;
}

.numNotifications {
  width: 1.3rem;
  height: 1.3rem;
  position: absolute;
  background-color: var(--deepPurple);
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  border-radius: 10px;
  line-height: 22px;
  text-align: center;
  top: 0.5rem;
  right: 0.1rem;
}
